<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CpuCoreParking3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender type="log4net.Appender.RollingFileAppender" name="AppLogErrorAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <!--<datePattern value=".yyyyMMdd.lo\g"/>-->
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="0" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline%exception" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline%exception" />
      </layout>
    </appender>
    <logger name="AppLog">
      <level value="ERROR" />
      <appender-ref ref="AppLogErrorAppender" />
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="AppLogErrorAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CheckForUpdateOnStartup" value="1" />
    <add key="CpuGraphWidth" value="134" />
    <add key="CpuGraphHeight" value="100" />
    <add key="CpuGraphUseDefault" value="0" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>-->
  <userSettings>
    <CpuCoreParking3.Properties.Settings>
      <setting name="CheckForUpdateOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CpuGraphWidth" serializeAs="String">
        <value>134</value>
      </setting>
      <setting name="CpuGraphHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CpuGraphUseDefault" serializeAs="String">
        <value>False</value>
      </setting>
    </CpuCoreParking3.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>